/* Source: https://www.c-sharpcorner.com/blogs/how-to-check-password-strength-in-jquery */
.Weak {
    width: 100%;
    background-color: #bf0b0b;
    margin-top: 5px;
    height: 3px;
    color: #bf0b0b;
    font-weight: 500;
    font-size: 12px;
}
.Good {
    width: 100%;
    background-color: #ffd059;
    margin-top: 5px;
    height: 3px;
    color: #ffd059;
    font-weight: 500;
    font-size: 12px;
}
.Strong {
    width: 100%;
    background-color: #26c926;
    margin-top: 5px;
    height: 3px;
    color: #26c926;
    font-weight: 500;
    font-size: 12px;
}