[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
black = "*"
yagmail = "*"
keyring = "*"
pyotp = "*"
google-i18n-address = "*"
pytest-mock = "*"
flask-login = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
