{% extends 'base.html' %}

{%block title %}Reset Password{% endblock %}

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" />

<script src="{{url_for('user_profiles.static', filename='scripts/new_password.js')}}"></script>
<link rel="stylesheet" href="{{url_for('user_profiles.static', filename='css/new_password.css')}}">

<div class="text-center">
    <h1>Password Reset</h1>
</div>

<div class="d-flex justify-content-center">
    <form method="POST">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" class="form-control"
                   value="{{ request.form['password'] }}" required />
            <div id="strength"></div>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}