{% extends 'base.html' %}

{%block title %}Reset Password{% endblock %}

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" />

<div class="text-center">
    <h1>Password Reset</h1>
</div>

<div class="d-flex justify-content-center">
    <form method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username">
        </div>
        <button type="submit" class="btn btn-primary">Send Email Confirmation</button>
    </form>
</div>
{% endblock %}