.rowWrapper{
  display: contents;
}

.rowWrapper:hover > div{
  background-color: Gainsboro;
}

.selected > div{
  background-color: Gainsboro;
}

#zip-container {
    height: 35vh;
    width: 100%;
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}