{% extends 'base.html' %}
<!--Bootstrap link: https://mdbootstrap.com/docs/standard/forms/input-fields/-->
<!-- Pagination source: https://betterprogramming.pub/simple-flask-pagination-example-4190b12c2e2e -->
{% block content %}
<h1 class="text-center">{% block title %} Election Candidate {% endblock %}</h1>

<style>
    .my_img{
      height:40vh; /* give your required height */
      background:url("{{ candidate['image'] }}");
      background-size:cover;
    }
</style>
<br>
<div class="container">
    <div class="row">
        <div class = "col-md-4 my_img">
        </div>
        <div class="col-2">

        </div>
        <div class="col-6">
            <h3>
                Race: {{ candidate.race.title }}
            </h3>
            <h4>
                Name: {{ candidate.name }}
            </h4>
            <p>
                <strong>Age:</strong> {{ candidate.age }}
            </p>
            <p>
                <strong>Description:</strong> {{ candidate.description }}
            </p>
            <br>
            <br>
            <div>
                <a href="{{ url_for('user_profiles.candidates', race_id=candidate.race.id) }}" class="btn btn-info btn-lg btn-block" >Back</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}